@import 'reset.scss';
@import 'mixin.scss';
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Source+Sans+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$yellow: #7F6700;
$font_primary: 'Source Sans Pro', sans-serif;;
$font_secondary: 'Baskervville', serif;

html {
  scroll-behavior: smooth;
}

/***
  DEFAULT
***/
.desktop {
  @include for_breakpoint(mobile) {
      display: none;
  }
}
.mobile {
  display: flex;
  justify-content: center;
  @include for_breakpoint(desktop) {
      display: none;
  }
}
.overflow__hidden {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.zindex {
  z-index: 1;
}

body{
  background-color: black;
  color: white;
  font-family: $font_primary;
  &.theme__white {
    background-color: white;
    color: black;
  }
}

header {
  font-family: $font_primary;
  background: rgba(0, 0, 0, 0.80);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.relative {
  position: relative;
}

.text__center {
  text-align: center;
}

.float__left {
  float: left;
}

.float__right {
  float: right;
}

.hover_img {
  display: block;
  overflow: hidden;
  img {
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
}

.list__order {
  line-height: 33px;
  &--dots {
    list-style: disc inside;
    list-style-position: outside;
  }
  list-style: decimal inside;
  li {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}

.row {
  > * {
    @include for_breakpoint(mobile) {
        padding: 0;
      }
  }
}

.mobile__padding {
  @include for_breakpoint(mobile) {
    padding: 0 20px;
  }
}

/***
 MENU MOBILE
***/
.menu {
  &.mobile {
    position: relative;
    background-color: #fff;
    background-color: rgba(255,255,255,.0);
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
  }
  &__btn {
    height: 30px;
    width: 30px;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 101;
    > span {
      background-color: #fff;
      border-radius: 1px;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -1px 0 0 -15px;
      transition: height 100ms;
      &:after, &:before {
        content: '';
        background-color: #fff;
        border-radius: 1px;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        transition: all 200ms;
      }
      &:after {
        top: -7px;
      }
      &:before {
        bottom: -7px;
      }
    }
    &.act {
      > span {
        height: 0;
        &:after, &:before {
          background-color: $yellow;
          top: 1px;
        }
        &:after {
          transform: rotate(45deg);
        }
        &:before {
          transform: rotate(-45deg);
        }
      }
    }
  }
  &__mobile {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
    &.act {
      height: 100vh;
      opacity: 1;
      transform: scale(1);
      ul li {
      opacity: 1;
      transform: translateX(0);
    }
    }
    ul {
      display: table-cell;
      vertical-align: middle;
    }
    li {
      padding: 8px 0;
      transition: all 400ms 510ms;
      opacity: 0;
    }
    a {
      color: $yellow;
      display: inline-block;
      font-size: 18px;
    }

  }
}

/***
  MENU DESKTOP
***/
.menu {
  .submenu {
    @include for_breakpoint(mobile) {
      display: flex;
      flex-direction: column;
    }
  }
  &.desktop {
    .menu__logo {
      max-width: 180px;
      margin-right: 55px;
    }
  }
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 25px 45px 10px 45px;
  section {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  /** Efects */
  &__default {
    height:50px;
    line-height:45px;
    font-size:0;
    a {
      font-weight: 400;
      text-transform: uppercase;
      position:relative;
      display:inline-block;
      padding:0 15px;
      color:#fff;
      font-size:16px;
      letter-spacing: 0.1em;
      text-decoration:none;
      &::before,
      &::after {
        content:"";
        display:block;
      }

      &::after {
        position:absolute;
        left:50%;
        bottom:0;
        width:60%;
        height:1px;
        background-color:$yellow;
        transform:translateX( -50% ); -webkit-transition:all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition:all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition:all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        opacity:0;
      }

      &::before {
        position:absolute;
        left:50%;
        top:0;
        width:60%;
        height:1px;
        background-color:$yellow;
        transform:translateX( -50% );
        -webkit-transition:all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition:all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition:all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        opacity:0;
      }

      &:hover {
        color: $yellow;
        font-weight: 400;

        &::after {
          opacity:1;
          bottom:5px;
        }
        &::before {
          opacity:1;
          top:5px;
        }
      }
    }
    ul {
      display: flex;
    }
    li {
      list-style: none;
      margin: 0 5px;
      ul {
          display: none;
          max-width: 200px;
          flex-direction: column;
          background: rgba(0, 0, 0, 0.80);
        }
      &:hover {
        ul {
          display: flex;
        }
      }


    }
  }

}

/***
  SLIDER HOME
***/
.slider {
  max-width: 1440px;
  margin: 0 auto;
  &__video {
    padding-top: 0;
  }
  &__item {
    padding-top: 146px;
    @include for_breakpoint(mobile) {
      padding-top: 0;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 50px;
    @include for_breakpoint(mobile) {
      flex-direction: column;
    }
    picture {
      flex: none
    }
  }
  &__infos {
    @include for_breakpoint(mobile) {
      padding: 0 35px;
    }
  }
  &__title {
    font-size: 90px;
    color: #fff;
    font-family: $font_secondary;
    margin-bottom: 40px;
    @include for_breakpoint(mobile) {
      font-size: 40px;
    }
  }
  &__description {
    max-width: 670px;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    color: #fff;
    font-family: $font_primary;
    margin-bottom: 40px;
    @include for_breakpoint(mobile) {
      font-size: 16px;
    }
  }
  &__button {
    font-family: $font_secondary;
    font-size: 30px;
    color: #CDCDCD;
    border: 1px solid #B29447;
    border-radius: 13px;
    padding: 12px 60px;
    text-decoration: none;
    @include for_breakpoint(mobile) {
      font-size: 25px;
      display: inline-block;
    }
    &:hover {
      background-color: #B29447;
    }
  }
}

.progress {
  margin: 20px auto;
  padding: 0;
  width: 90%;
  height: 30px;
  overflow: hidden;
  background: #e5e5e5;
  border-radius: 4px;
  &__info {
    line-height: 55px;
    @include for_breakpoint(mobile) {
      font-size: 17px !important;
    }
  }
}

.bar {
  position: relative;
  float: right;
  min-width: 1%;
  height: 100%;
  background: $yellow;
}

.percent {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-15px, -50%);
  margin: 0;
  font-size: 12px;
  color: white;
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***
  Empreendimentos
***/
.enterprises {
  padding: 54px 0;
  &__title {
    @include for_breakpoint(mobile) {
      font-size: 28px;
    }
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
    font-family: $font_secondary;
    text-transform: uppercase;
  }
  &__item {
    text-align: center;
    position: relative;
    overflow: hidden;
    a {
      text-decoration: none;
    }
    h5 {
      font-size: 30px;
      font-family: $font_secondary;
      color: #fff;
      margin: 35px 0;
    }
  }
  &__button {
    display: inline-flex;
    padding: 9px 52px;
    border: 1px solid #B29447;
    border-radius: 13px;
    color: #cdcdcd;
    &:hover {
      background-color: #B29447;
    }
  }
  &__imagem {
    position: relative;
    display: flex;
    overflow: hidden;
    img {
      transform: scale(1);
      transition: 0.3s ease-in-out;
    }
    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }
  &__logo {
    position: absolute;
    width: 130px;
    left: 0;
    z-index: 1;
  }
  .slick-prev {
    @include for_breakpoint(mobile) {
      left: 0px;
    }
  }
  .slick-next {
    @include for_breakpoint(mobile) {
      right: 0px;
    }
  }
  .slick-slide {
    margin-right: 30px;
    margin-left: 30px;
    @include for_breakpoint(mobile) {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  .slick-slide {
    width: 380px;
  }
  .slick-dots {
    bottom: -50px;
    .slick-active {
        button {
          &::before {
            color: #B29447;
            opacity: 1;
            font-size: 18px;
          }
        }
      }
    li {
      button {
        &::before {
          color: #B29447;
          font-size: 13px;
        }
      }
    }
  }
}

/***
  INSTITUCIONAL
***/
.company {
  padding: 69px 120px;
  @include for_breakpoint(mobile) {
    padding: 69px 0;
  }
  &__title {
    @include for_breakpoint(mobile) {
      font-size: 35px;
    }
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
    font-family: $font_secondary;
    text-transform: uppercase;
    &--dna {
      text-transform: capitalize;
      margin-bottom: 18px;
      text-align: left;
      @include for_breakpoint(mobile) {
        padding: 0 35px;
      }
    }
    &--border {
      margin-top: 69px;
      display: flex;
      align-items: center;
      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
      }
      &::before {
        margin-right: 30px;
      }
      &::after {
        margin-left: 30px;
      }
    }
  }
  p {
    @include for_breakpoint(mobile) {
      padding: 0 35px;
    }
    font-size: 20px;
    margin-bottom: 35px;
    line-height: 30px;
    strong {
      font-weight: bold;
    }
  }
}

.padding3coll {
  div {
    &:last-child {
      padding-left: 40px;
      @include for_breakpoint(mobile) {
        padding-left: 0px;
      }
    }
    &:first-child {
      padding-right: 40px;
    }
    padding-left: 20px;
    padding-right: 20px;
    @include for_breakpoint(mobile) {
      padding: 0px;
    }
  }
}

/***
  Funders
***/
.founders {
  &__title {
    @include for_breakpoint(mobile) {
      font-size: 35px;
      padding: 0 35px;
    }
    font-size: 40px;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 60px;
    font-family: $font_secondary;
  }
  &__image {
    &--left {
      margin-right: 35px;
      float: left;
    }
    &--right {
      margin-left: 35px;
      float: right;
      @include for_breakpoint(mobile) {
        margin: 0 auto;
        float: unset;
        display: flex;
        justify-content: center;
      }
    }
    @include for_breakpoint(mobile) {
      margin-right: 0;
      padding: 0 0;
    }
    legend {
      font-size: 20px;
      font-family: $font_secondary;
      font-style: italic;
      padding: 20px 0;
    }
  }
}

/***
  Fale Conosco
**/
.contact {
  &__social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    margin-top: 50px;
    a {
        width: 60px;
        justify-self: center;
    }
  }
  &__map {
    padding: 0 20px;
    margin-bottom: 50px;
  }
  &__social_title {
    font-size: 21px;
    text-align: center;
  }
  &__logo {
    picture {
      display: block;
      @include for_breakpoint(mobile) {
        margin-bottom: 100px;
        margin-top: 80px;
      }
    }
    @include for_breakpoint(mobile) {
      text-align: center;
    }
  }
  &__selos {
    @include for_breakpoint(mobile) {
      text-align: center;
      padding: 0 30px;
    }
    img {
      max-width: 455px;
    }
  }
  &__title {
    @include for_breakpoint(mobile) {
      font-size: 35px;
    }

    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
    font-family: $font_secondary;
    text-transform: uppercase;
  }
}

.infos {
  position: fixed;
  right: 0;
  top: calc(50% - 125px);
  background-color: #B29447;
  padding: 5px 10px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  @include for_breakpoint(mobile) {
    bottom: 0;
    width: 100%;
    flex-direction: initial;
    justify-content: space-around;
    height: 65px;
    top: unset;
  }
  svg {
    max-width: 48px;
    margin-bottom: 10px;
  }
  a {
    font-size: 14px;
    font-family: $font_secondary;
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-name: tada;
    animation-delay: 8.3s;

    &:first-child {
      animation-delay: 2.5s;
    }
    &:hover {
      animation-duration: 0.3s;
    }
    &:last-child {
      animation-delay: 6s;
    }
  }
}

/***
  BLOG
***/
.blog {
  &.mt-6 {
    @include for_breakpoint(mobile) {
      margin: 0 !important;
    }
  }
  &__thumb {
    @include for_breakpoint(mobile) {
      padding: 0 35px;
    }
    display: block;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    img {
      transition: 0.3s;
      transform: scale(1);
    }
  }
  &__link {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    &:hover {
      img {
        transition: 0.3s;
        transform: scale(1.2);
      }
    }
    @include for_breakpoint(mobile) {
      margin-bottom: 35px;
    }
  }
  &__button {
    @include for_breakpoint(mobile) {
      margin: 0 35px 45px;
      display: block;
    }
    font-size: 25px;
    font-family: $font_secondary;
    color: #B4974A;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 Animations
 **/

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }

  2%,
  8% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  3%,
  5%,
  10%,
  11% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  7%,
  9%,
  12% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  13% {
    transform: scale3d(1, 1, 1);
  }
}
